@font-face {
	font-family: 'Conv_Poppins-Light';
	src: url('../fonts/Poppins-Light.eot');
	src: local('☺'), url('../fonts/Poppins-Light.woff') format('woff'), 
	url('../fonts/Poppins-Light.ttf') format('truetype'), 
	url('../fonts/Poppins-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: local('☺'), url('../fonts/Poppins-Regular.woff') format('woff'), 
	url('../fonts/Poppins-Regular.ttf') format('truetype'), 
	url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Poppins-Medium';
	src: url('../fonts/Poppins-Medium.eot');
	src: local('☺'), url('../fonts/Poppins-Medium.woff') format('woff'), 
	url('../fonts/Poppins-Medium.ttf') format('truetype'), 
	url('../fonts/Poppins-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: local('☺'), url('../fonts/Poppins-SemiBold.woff') format('woff'), 
	url('../fonts/Poppins-SemiBold.ttf') format('truetype'), 
	url('../fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot');
	src: local('☺'), url('../fonts/Poppins-Bold.woff') format('woff'), 
	url('../fonts/Poppins-Bold.ttf') format('truetype'), 
	url('../fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

div {
	font-family: 'Conv_Poppins-Regular';
}

a {
	color: white;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.wrapper {
	transition: all 0.5s ease 0s;
}


	/* Style for Header block */

.header {}

.container {}

.header__column {
	display: flex;
	flex-direction: column;
}

.header__top-row {	
	height: 50px;	

	background: #ba0000;
}

.top-row__container {
	color: white;
	font-size: 14px;

	display: flex;

	position: relative;
	top: 0;
	left: 0;

	height: 50px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 18px 0 0 0;
}

.top-row__container div {
	top: 18px;
}

.top-row__lang {
	color: white;
	position: absolute;
	left: 0;

	background: #ba0000;
}

.top-row__profile::before,
.top-row__profile::after,

.top-row__lang::before,
.top-row__lang::after {
	content: "";
	display: inline-block;

	position: absolute;
	top: 4px;
	right: -15px;

	height: 2px;
	width: 8px;

	background: white;
}

.top-row__profile::before,

.top-row__lang::before {
	transform: rotate(45deg);
}

.top-row__profile::after,

.top-row__lang::after {
	right: -19px;

	transform: rotate(-45deg);
}

.top-row__contact {
	position: absolute;
	right: 100px;

	margin: 0 30px 0 0;
}

.top-row__contact::before {
	content: "";
	display: inline-block;

	position: absolute;
	top: 0;
	left: -25px;

	height: 16px;
	width: 16px;

	background: url(../images/icon/group.png) no-repeat;
}

.top-row__profile {
	position: absolute;
	right: 0;
}



.header__bottom-row {
	height: 120px;

	background: #ffcc00;
}

.bottom-row__container {
	display: flex;
	align-items: center;

	height: 120px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.bottom-row__logo {
	align-self: center;
}

.dark {
	display: none;
}

.bottom-row__contact {
	display: none;
}

.bottom-row__burger_active {
	display: none;
}

.bottom-row__list {
	display: flex;
	flex-grow: 1;

	margin: 0 0 0 7%;
}

.bottom-row__list li {
	margin: 0 20px 0 0;
}

.bottom-row__list li:last-child {
	margin: 0;
}

.bottom-row__list li a {
	color: #ba0000;
	font-size: 14px;
	text-transform: uppercase;

	padding: 0 12px;

	transition: all 0.3s ease 0s;
}

.bottom-row__list li a:hover {
	font-family: 'Conv_Poppins-Bold';

	padding: 0 12px 45px 12px;

	border-bottom: 4px solid #ba0000;
}

.list__item {}

.bottom-row__form_none {
	display: none;
}

.bottom-row__form {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	flex-grow: 1;
}

.bottom-row__btn {
	border-radius: 50%;

	margin: 0 0 0 20px;
}

.bottom-row__search-img {
	align-self: center;

	padding: 18px;

	border-radius: 50%;
	background: #ba0000;

	transition: all 0.3s ease 0s;
	cursor: pointer;
}


.bottom-row__search {
	min-width: 0%;
	padding: 0;
	border: none;

	transition: all 0.3s ease 0s;
}

.bottom-row__search {
	display: inline-block;
	color: black;
	font-size: 14px;
	font-family: 'Conv_Poppins-Bold';

	height: 35px;
	width: 210px;
	padding: 0 15px 0 15px;

	border: 1px solid #e4e4e4;

	transition: all 0.3s ease 0s;
}

.bottom-row__search-img:hover {
	box-shadow: 0px 5px 8px rgba(186, 0, 0, 0.4);
}

.bottom-row__burger {
	display: none;
}

@media screen and (max-width: 1320px) {
	.header__top-row {
		padding: 0 50px 0 30px;
	}

	.header__bottom-row {
		padding: 0 30px;
	}
}

@media screen and (max-width: 1280px) {
	.bottom-row__container {
		position: relative;
		top: 0;
		left: 0;
	}

	.dark {
	}

	.dark.active {
		display: block;

		position: fixed;
		top: 0;
		right: 0;

		width: 100%;
		height: 100vh;

		background: rgba(0, 0, 0, 0.2);
	}

	.bottom-row__list {
		position: fixed;
		top: 0;
		right: -100%;	

		width: 50%;
		height: 100vh;
		margin: 0;

		transition: all 0.5s ease 0s;
	}

	.bottom-row__list.active {
		display: block;

		position: fixed;
		top: 0;
		right: 0;

		width: 300px;
		padding: 50px 0 0 0;

		background: #ffcc00;

		z-index: 3;

		transition: all 0.5s ease 0s;
	}

	.wrapper.active {
		position: relative;
		top: 0;
		right: 300px;	

		transition: all 0.5s ease 0.17s;
	}

	.wrapper {
		right: 0;
	}

	.header__column {

	}

	.bottom-row__list.active li {
		margin: 20px 0 0 20px;
	}

	.bottom-row__list.active li:last-child {
		margin: 0 0 0 20px;
	}

	.bottom-row__list li a {
		font-size: 18px;
	}

	.bottom-row__list li a:hover {
		padding: 0;
		border: none;
	}

	.bottom-row__form_none {
		display: none;
	}

	.bottom-row__form {
		margin: 0 95px 0 0;
	}

	.bottom-row__search {
		display: inline-block;
		color: black;
		font-size: 14px;
		font-family: 'Conv_Poppins-Bold';

		height: 35px;
		width: 280px;
		padding: 0 15px 0 15px;

		border: 1px solid #e4e4e4;
	}

	.bottom-row__btn {
		margin: 0 0 0 20px;
	}

	.bottom-row__search-img {

	}	

	.bottom-row__burger {
		display: block;

		position: absolute;
		top: 52.5px;
		right: 0;

		height: 18px;
		width: 25px;

		cursor: pointer;
	}

	.bottom-row__burger_active {
		position: absolute;
		top: 52.5px;
		right: 0;

		height: 18px;
		width: 25px;

		cursor: pointer;
	}

	.bottom-row__burger::before,
	.bottom-row__burger::after,

	.bottom-row__burger_active::before,
	.bottom-row__burger_active::after {
		content: "";
		display: block;

		position: relative;
		left: 0;

		height: 2px;
		width: 100%;

		background: black;

		transition: all 0.3s ease 0s;
	}

	.bottom-row__burger::before,
	.bottom-row__burger_active::before {
		top: 0;
	}

	.bottom-row__burger::after,
	.bottom-row__burger_active::after {
		bottom: -5px;
	}

	.bottom-row__burger span,
	.bottom-row__burger_active span {
		display: block;

		height: 2px;
		width: 100%;

		margin: 6px 0 0 0;

		background: black;
	}
}

@media screen and (max-width: 900px) {
	.header__bottom-row {
		height: 80px;
	}

	.bottom-row__container {
		height: 80px;
	}

	.bottom-row__search {
		font-size: 12px;
		height: 25px;
		width: 280px;
	}

	.bottom-row__search-img {
		top: 20px;
		padding: 12px;
	}

	.bottom-row__burger {
		top: 32.5px;
	}
}

@media screen and (max-width: 767px) {
	.bottom-row__form_none {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		margin: 50px 30px 0 0;
	}

	.bottom-row__form {
		display: none;
	}

	.bottom-row__search {
		width: 0%;
		padding: 0;
		border: none;

		transition: all 0.3s ease 0s;
	}

	.bottom-row__search.active {
		display: inline-block;
		color: black;
		font-size: 14px;
		font-family: 'Conv_Poppins-Bold';

		height: 35px;
		width: 160px;
		padding: 0 15px 0 15px;

		border: 1px solid #e4e4e4;
	}

	.bottom-row__search-img.active {
		display: inline-block;
	}
}

@media screen and (max-width: 500px) {
	.bottom-row__list.active {
		padding: 0;
	}	

	.top-row__contact {
		display: none;
	}

	.bottom-row__contact {
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 20px 0 40px 0;
	}

	.bottom-row__contact::before {
		content: "";
		display: inline-block;

		height: 16px;
		width: 16px;
		margin: 0 10px 0 0;

		background: url(../images/icon/group.png) no-repeat;
	}
}

@media screen and (max-width: 400px) {
	.bottom-row__list.active {
		width: 100%;
	}

	.bottom-row__search.active {
		width: 200px;
	}

	.bottom-row__burger_active {
		display: block;

		top: 20px;
		right: 20px;

		height: 20px;
	}

	.bottom-row__burger_active::before {
		top: 8px;
		transform: rotate(45deg);
	}

	.bottom-row__burger_active::after {
		bottom: -6px;
		transform: rotate(-45deg);
	}

	.bottom-row__burger_active span {
		display: none;
	}

	.wrapper.active {
		right: 0;
	}

	.bottom-row__form_none {
		margin: 50px 20px 0 0;
	}

}


@media screen and (max-width: 350px) {
	.header__top-row {
		padding: 0 40px 0 20px;
	}

	.header__bottom-row {
		padding: 0 20px;
	}
}
	



	/* Style for Intro block */

.intro{
	background: linear-gradient(240deg, rgba(0,0,0,0) 20%, rgba(186,0,0,1) 80%), url(../images/intro/bg.jpg) 50% 50% / cover no-repeat;
	height: 800px;
}

.intro__column {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;


	height: 800px;
}

.intro__title {
	font-size: 70px;
	font-family: 'Conv_Poppins-Bold';

	width: 450px;
	margin: 0 0 35px 0;
}

.intro__title::after {
	content: "";
	display: block;	

	width: 100px;	
	height: 4px;	
	margin: 40px 0 0 0;

	background: #ffcc00;
}

.intro__text {
	color: #ffcc00;
	font-size: 20px;
	line-height: 30px;
	word-spacing: 3px;
}

.intro__info {
	display: flex;
	margin: 40px 0 40px 0;
}

.intro__info li {
	font-size: 20px;
	font-family: 'Conv_Poppins-Bold';
	line-height: 30px;

	margin: 0 60px 0 0;
}

.intro__info li::after {
	content: "";
	display: inline-block;

	position: relative;
	bottom: 0;
	left: 25px;

	height: 5px;
	width: 5px;

	border-radius: 50%;
	background: #ffcc00;
}

.intro__info li:last-child {
	margin: 0;
}

.intro__info li:last-child::after {
	display: none;
}

.info__item {}

.intro__row {
	display: flex;
	align-items: center;

	font-size: 12px;
	font-family: 'Conv_Poppins-Bold';
	line-height: 30px;
	text-transform: uppercase;
}

.intro__first-btn {
	color: #ba0000;

	margin: 0 20px 0 0;
	padding: 15px 35px;

	border-radius: 100px;
	
	background: #ffcc00;

	transition: all 0.3s ease 0s;
}

.intro__first-btn:hover {
	box-shadow: 1px 5px 10px rgba(255, 204, 0, 0.4);

	transition: all 0.3s ease 0s;
}

.intro__last-btn {

	padding: 12px 40px;

	border-radius: 100px;
	border: 3px solid white;

	transition: all 0.3s ease 0s;
}

.intro__last-btn:hover {
	box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.4);

	transition: all 0.3s ease 0s;
}

@media screen and (max-width: 1320px) {
	.intro {
		padding: 0 30px;
	}
}

@media screen and (max-width: 800px) {
	.intro {
		height: 700px;
	}

	.intro__column {
		height: 700px;
	}

	.intro__title {
		font-size: 60px;
		width: 400px;
	}

	.intro__text {
		font-size: 18px;
	}

	.intro__info li {
		font-size: 18px;
	}

	.intro__first-btn {
		padding: 12px 35px;
	}

	.intro__last-btn {
		padding: 10px 45px;
	}
}

@media screen and (max-width: 680px) {
	.intro__text {
		word-spacing: normal;
		letter-spacing: normal;

		width: 300px;
	}
}

@media screen and (max-width: 462px) {
	.intro {
		height: 800px;
	}

	.intro__column {
		height: 800px;
	}

	.intro__title {
		font-size: 50px;
		
		width: 310px;
		margin: 0 0 25px 0;
	}

	.intro__title::after {
		margin: 30px 0 0 0;
	}

	.intro__info {
		flex-direction: column;
	}

	.intro__info li {
		margin: 10px 0 0 0;
	}

	.intro__info li:last-child {
		margin: 10px 0 0 0;
	}

	.intro__info li::after {
		display: none;
	}

	.intro__row {
		flex-direction: column;
		width: 100%;
	}

	.intro__first-btn {
		display: flex;
		justify-content: center;

		width: 100%;
		padding: 12px 0;
		margin: 0 0 20px 0;
	}

	.intro__last-btn {
		display: flex;
		justify-content: center;

		width: 100%;
		padding: 10px 0;
	}
}

@media screen and (max-width: 350px) {
	.intro {
		padding: 0 20px;
	}

	.intro__title {
		font-size: 45px;
		width: 300px;
	}

	.intro__text {
		font-size: 17px;
		width: 100%;
	}
}





	/* Style for Services blockf */

.services {
	padding: 0 30px;
}

.container {}

.services__title {
	color: #ba0000;
	line-height: 80px;

	margin: 100px 0 90px 0;
}

.title {
	font-size: 48px;
	font-family: 'Conv_Poppins-Bold';
}

.services__row {
	display: flex;
}

.services__column-article {
	display: flex;
	flex-direction: column;

	width: 270px;

	margin: 0 30px 100px 0;
}

.column-article__img {
	align-self: center;
}

.column-article__title {
	color: #ba0000;
	font-size: 20px;
	font-family: 'Conv_Poppins-Bold';
	text-transform: uppercase;
	line-height: 60px;
}

.column-article__text {
	color: #777777;
	font-size: 16px;
	line-height: 26px;
}

.column-article__link {
	color: #222222;
	font-size: 16px;
	font-family: 'Conv_Poppins-Bold';
	line-height: 26px;

	margin: 15px 0 0 0;
}

.column-article__link::after {
	content: "";
	display: inline-block;

	height: 10px;
	width: 8px;
	padding: 0 20px 0 0;

	background: url(../images/icon/arrow.png) 50% 50% no-repeat;
}

.services__column-location {
	width: 270px;
	height: 340px;
	margin: 0 0 100px 0;
	padding: 0 30px;

	background: #ba0000;
}


.column-location__title {
	color: white;
	font-size: 20px;
	font-family: 'Conv_Poppins-Bold';

	margin: 25px 0;
}

.column-location__title::after {
	content: "";
	display: block;

	height: 2px;
	width: 70px;
	margin: 25px 0 0 0;

	background: #ffcc00;
}

.column-location__text {
	color: white;
	font-size: 16px;
	line-height: 26px;
}

.column-location__form {
	background: #9d0000 url(../images/services/icon-bg.png) 100% 50% no-repeat;
	height: 50px;
	margin: 40px 0 30px 0;
}

.column-location__select {
	color: white;
	font-size: 16px;
	font-family: 'Conv_Poppins-Regular';

	height: 50px;
	width: 100%;
	padding: 0 20px;

	-webkit-appearance: none;
	-moz-appearance: none;

	background: url(../images/icon/down-arrow.png) 90% no-repeat;
	
	cursor: pointer;
}

.column-location__select option {
	background: #9d0000;
}

.column-location__link {
	display: inline-block;

	color: #ba0000;
	font-size: 12px;
	font-family: 'Conv_Poppins-Bold';
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;

	padding: 20px 45px;	

	border-radius: 100px;
	background: #ffcc00;

	transition: all 0.3s ease 0s;
}

.column-location__link:hover {
	box-shadow: 0px 5px 10px rgba(255, 204, 0, 0.6);
}

@media screen and (max-width: 1210px) {
	.services__row {
		flex-wrap: wrap;
	}

	.services__column-article {
		align-items: center;
		text-align: center;

		flex: 1 0 48%;

		margin: 0 30px 0 0;
	}

	.services__column-article:nth-child(2) {
		margin: 0;
	}

	.services__column-location {
		flex: 1 0 49%;

		margin: 100px 0 100px 0;
	}

	.column-location__select {
		background: url(../images/icon/down-arrow.png) 96% no-repeat;
	}

	.services__column-article:nth-child(3) {
		margin: 100px 30px 100px 0;
	}
}

@media screen and (max-width: 1060px) {
	.column-article__text {
		width: 300px;
	}

	.services__column-article {
		flex: 1 0 47%;
	}

	.services__column-location {
		flex: 1 0 48%;
	}
}

@media screen and (max-width: 1024px) {
	.services__column-article {
		flex: 1 0 100%;

		margin: 0;
	}

	.services__column-article:nth-child(2) {
		margin: 80px 0 0 0;
	}

	.services__column-article:nth-child(3) {
		margin: 80px 0 0 0;
	}

	.services__column-location {
		flex: 1 0 100%;
	
		margin: 80px 0 100px 0;
	}

	.column-article__text {
		width: 700px;
	}

	.services__title {
		margin: 80px 0 70px 0;
	}

	.column-location__select {
		background: url(../images/icon/down-arrow.png) 97.8% no-repeat;
	}
}

@media screen and (max-width: 900px) {
	.column-location__select {
		background: url(../images/icon/down-arrow.png) 97.4% no-repeat;
	}
}

@media screen and (max-width: 800px) {
	.column-location__form {
		width: 500px;
	}

	.column-location__select {
		width: 500px;

		background: url(../images/icon/down-arrow.png) 96.7% no-repeat;
	}
}

@media screen and (max-width: 750px) {
	.column-article__text {
		width: 500px;
	}
}

@media screen and (max-width: 620px) {
	.column-location__form {
		width: 100%;
	}

	.column-location__select {
		width: 100%;

		background: url(../images/icon/down-arrow.png) 96.3% no-repeat;
	}

} 

@media screen and (max-width: 570px) {
	.title {
		line-height: 60px;
	}
}

@media screen and (max-width: 550px) {
	.column-article__text {
		width: 300px;
	}

	.column-location__select {
		background: url(../images/icon/down-arrow.png) 95.8% no-repeat;
	}
}

@media screen and (max-width: 480px) {
	.column-location__select {
		background: url(../images/icon/down-arrow.png) 94% no-repeat;
	}
}

@media screen and (max-width: 400px) {
	.column-location__select {
		background: url(../images/icon/down-arrow.png) 92.8% no-repeat;
	}
}

@media screen and (max-width: 360px) {
	.column-location__select {
		background: url(../images/icon/down-arrow.png) 92% no-repeat;
	}
}

@media screen and (max-width: 320px) {
	.column-location__select {
		background: url(../images/icon/down-arrow.png) 91% no-repeat;
	}
}





	/* Style for best-provider block */

.best-provider {
	background: url(../images/best-provider/best-provider__gradient.png) 50% 50% no-repeat, url(../images/best-provider/best-provider__bg.jpg) 50% 50% no-repeat;
	height: 700px;
	padding: 0.1px 0 0 0;
}

.container {}

.best-provider__column {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

.best-provider__title {
	color: #fff;
	font-family: 'Conv_Poppins-Bold';
	text-align: center;

	margin: 150px 0 60px 0;
}

.title {}

.best-provider__play {
	padding: 38px;
	margin: 0 0 180px 0;

	background: url(../images/icon/yellow-ellipse.svg) 60% -20% no-repeat;

	cursor: pointer;
}

.best-provider__deliver-row {
	display: flex;
	align-items: center;

	min-width: 100%;
	padding: 0 30px;
}

.deliver-row__features-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 0 31.5%;
	margin: 0 30px 100px 0;

	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.deliver-row__features-column:last-child {
	margin: 0 0 100px 0;
}

.features-column__image {
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.features-column__inner {
	padding: 0 0 0 30px;
}

.features-column__title {
	color: #ba0000;
	font-size: 20px;
	font-family: 'Conv_Poppins-Bold';

	margin: 30px 0;
}

.features-column__list {
	margin: 0 0 30px 0;
}

.features-column__list li {
	color: #777777;
	font-size: 16px;
	line-height: 24px;
}

.features-column__list li::before {
	content: "";
	display: inline-block;

	height: 12px;
	width: 7px;
	margin: 0 12px 0 0;

	background: url(../images/icon/tiny-play.png) no-repeat;
}

@media screen and (max-width: 1240px) {
	.best-provider__title {
		padding: 0 30px;
	}

	.best-provider__deliver-row {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.deliver-row__features-column {
		width: 370px;
		margin: 0 5px 50px 5px;
	}

	.deliver-row__features-column:last-child {	
		width: 370px;
		margin: 0 auto 100px auto;
	}
}

@media screen and (max-width: 870px) {
	.best-provider__deliver-row {
		flex-direction: column;
		justify-content: center;
	}

	.deliver-row__features-column {
		margin: 0 0 100px 0;
	}
}

@media screen and (max-width: 800px) {
	.best-provider__play {
		display: none;
	}

	.deliver-row__features-column {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
		background: #fff;
	}

	.features-column__image {
		box-shadow: none;
	}

	.best-provider__title {
		margin: 100px 0 150px 0;
	}
}

@media screen and (max-width: 600px) {
	.best-provider__title {
		font-size: 45px;
		line-height: 50px;

		margin: 100px 0;
	}
}

@media screen and (max-width: 430px) {
	.deliver-row__features-column {
		width: 260px;
	}

	.deliver-row__features-column:last-child {
		width: 260px;
		margin: 0 0 100px 0;
	}

	.features-column__image {
		height: 160px;
	}

	.features-column__inner {
		padding: 0 15px 0 15px;
	}

	.features-column__title {
		text-align: center;
	}
}

@media screen and (max-width: 370px) {
	.best-provider__title {
		font-size: 40px;
	}
}