//  font-family: 'Droid Sans', arial;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&family=Oswald:wght@400;500;700&display=swap');

// font-family: 'Great Vibes', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;

 @font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('fonts/8145.eot');
	src: local('☺'), url('../fonts/8145.woff') format('woff'), 
	url('../fonts/8145.ttf') format('truetype'), 
	url('../fonts/8145.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Variables 
$colr-red: #df001f;
$colr-white: #fff;
$colr-black: #333;

%link {
	font-size: 14px;
	font-family: 'Droid Sans', arial;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 0 45px;
	background: #fff;
}

body {
	font-family: 'Droid Sans', arial;
	font-weight: 400;

	&.active {
		overflow: hidden;
	}
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

@import "header.scss";




	/* Intro */

.intro_g {
	padding: 210px 0 170px 0;
	border-bottom: 3px solid $colr-red;
	background: url("../images/intro/bg.jpg") 50% 50% / cover no-repeat;

	@media screen and (max-width: 1200px) {
		background: url("../images/intro/bg.jpg") 40% 50% / cover no-repeat;
	}

	@media screen and (max-width: 700px) {
		padding: 180px 10px 150px 10px;
		background: url("../images/intro/bg.jpg") 30% 50% / cover no-repeat;
	}
}

.intro__column {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (max-width: 550px) {
		text-align: center;
	}
}

.intro__title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.intro__title_g {
	color: $colr-red;
	font-size: 115px;
	@media screen and (max-width: 550px) {
		font-size: 90px;
	}
}

.intro__subtitle {
	font-family: 'Great Vibes', cursive;
}

.intro__subtitle_g {
	font-size: 80px;
	margin: 10px 0 80px 0;

	@media screen and (max-width: 550px) {
		font-size: 65px;
		width: 100%;
	}
}

.intro__link {
	color: #fff;
	@extend %link;

	background: $colr-red;
}




	/* Introducing */

.introducing {
	@media screen and (max-width: 1200px) {
		padding: 0 20px;
	}

	@media screen and (max-width: 400px) {
		padding: 0 10px;
	}
}

.top-column {
	display: flex;
	flex-direction: column;

	font-size: 32px;
	line-height: 30px;

	@media screen and (max-width: 767px) {
		align-items: center;
	}
}

.title {
	color: $colr-black;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 4px;

	margin: 100px 0 10px 0;

	@media screen and (max-width: 767px) {
		margin: 50px 0 10px 0;
	}
}

.subtitle {
	color: $colr-red;
	font-family: 'Great Vibes', cursive;
}

.introducing__slider {
	padding: 50px 0 100px 0;
	border-bottom: 1px solid #dfdfdf;

	@media screen and (max-width: 767px) {
		padding: 80px 0 60px 0;
	}
}

.slider-introducing__item {
	position: relative;
}

.slider-introducing__img {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: cover;

	@media screen and (max-width: 400px) {
		width: 300px;
		max-width: 100%;
	}
}

.slider-introducing__column {
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	height: 80px;

	background: $colr-red;
	transition: all 0.3s ease 0s;

	&.active {
		height: 130px;

		@media screen and (max-width: 767px) {
			height: 80px;
		}
	}
}

.slider-introducing__body {
	line-height: 20px;
}

.slider-introducing__name {
	font-size: 22px;
	font-family: 'Oswald', sans-serif;

	margin: 15px 0 5px 25px;
}

.slider-introducing__profile {
	font-size: 16px;

	margin: 0 0 0 25px;
}

.slider-introducing__icon {
	display: flex;
	opacity: 0;
	visibility: hidden;
	align-items: center;

	position: absolute;
	bottom: 25px;
	margin: 0 0 0 25px;

	transition: all 0.3s ease 0s;

	li {
		font-size: 14px;
		display: flex;
		align-items: center;
		margin: 0 15px 0 0;

		img {
			margin: 0 6px 0 0;
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

.slick-slider{
	position: relative;
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
}

.slider-introducing .slick-slide{
	margin: 0 15px;

	@media screen and (max-width: 550px) {
		margin: 0 70px;
	}
}

.slick-arrow{
	position: absolute;
	top: 0;
	font-size: 0;

	@media screen and (max-width: 767px) {
		top: 30px;
	}
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	display: inline-block;

	height: 35px;
	width: 35px;
}

.slick-arrow.slick-prev {
	right: 40px;
	background: url("../images/icon/arrow-left.svg") 50% 50% no-repeat $colr-red;
}

.slick-arrow.slick-next {
	right: 0;
	background: url("../images/icon/arrow-right.svg") 50% 50% no-repeat $colr-red;
}





	/* Block-row */

.block-row {
	display: flex;
	padding: 0 20px;

	@media screen and (max-width: 1024px) {
		padding: 0;
		flex-direction: column;
		align-items: center;
	}
}

	/* Upcoming */

.upcoming {
	flex: 1 0 auto;
	padding: 0 0 100px 0;

	@media screen and (max-width: 1024px) {
		padding: 0 10px;
		flex: 0 0 auto;
		width: 100%;
	}
}

.upcoming_m {
	margin: 0 30px 0 0;

	@media screen and (max-width: 1050px) {
		margin: 0 25px 0 0;
	}

	@media screen and (max-width: 1024px) {
		margin: 0;
	}
}

.info-upcoming {
	display: flex;
	align-items: center;
	font-family: 'Oswald', sans-serif;

	border-bottom: 4px solid #df001f;

	@media screen and (max-width: 650px) {
		border-bottom: none;
		flex-direction: column;
	}
}

.info-upcoming__img-body {
	position: relative;
	padding: 45px 0 0 0;
}

.info-upcoming__img {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.info-upcoming__big-date {
	color: #fff;
	font-size: 45px;
	font-weight: 500;
	text-align: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 50px;
}

.info-album {
	color: $colr-black;
	display: flex;
	flex-direction: column;	

	padding: 0 0 0 75px;

	@media screen and (max-width: 1100px) {
		padding: 0 0 0 40px;
	}

	@media screen and (max-width: 1024px) {
		padding: 0 0 0 70px;
	}

	@media screen and (max-width: 650px) {
		padding: 0;
	}
}

.info-album__title {
	font-size: 22px;
	font-weight: 500;

	margin: 45px 0 30px 0;
}

.info-album__list {
	font-size: 16px;
	font-family: 'Droid Sans', arial;
	line-height: 30px;

	margin: 0 0 25px 0;

	li {
		& .word {
			margin: 0 30px 0 0;
		}

		&:first-child {
			& .word {
				margin: 0;
			}
		}

		& .symbol {
			margin: 0 10px 0 0;
		}
	}
}

.info-album__link {
	@extend %link;
	align-self: end;
	color: #fff;
	letter-spacing: 1.5px;

	padding: 0 40px;

	background: $colr-red;

}





	/* Latest */

.latest {
	width: 370px;
	padding: 0 0 100px 0;

	@media screen and (max-width: 767px) {
		padding: 0 0 50px 0;
	}

	@media screen and (max-width: 400px) {
		width: 300px;
	}
}

.slider-latest {
	padding: 45px 0 0 0;
}

.latest-slider__item {
	position: relative;
	height: 100%;
	max-width: 100%;
	margin: 0 15px;
}

.latest-slider__image {
	position: relative;	
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;

	@media screen and (max-width: 400px) {
		width: 300px;
	}
}

.latest-slider__icon {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	cursor: pointer;
}

.slider-latest .slick-arrow.slick-prev,
.slider-latest .slick-arrow.slick-next {
	top: 0;
}





	/* Founder */


.founder {
	background: url("../images/founder/bg.jpg") 50% 50% / cover no-repeat;

	@media screen and (max-width: 767px) {
		background: #333333;
		padding: 0 10px;
	}
}

.founder__column {
	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #fff;
	padding: 80px 0 80px 100px;

	@media screen and (max-width: 767px) {
		align-items: center;
		text-align: center;
		padding: 75px 0 80px 0;
	}
}

.founder__title {
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;
}

.founder__text {
	font-size: 22px;
	line-height: 30px;

	max-width: 560px;
	width: 100%;
	margin: 15px 0 40px 0;

	span {
		font-size: 65px;
		font-family: 'Great Vibes', cursive;
	}
}

.founder__link {
	@extend %link;
	color: $colr-red;
	padding: 0 40px;
	align-self: end;

	@media screen and (max-width: 767px) {
		align-self: center;
	}
}





	/* Popular */

.popular {
	@media screen and (max-width: 1024px) {
		padding: 0 20px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 10px;
	}
}

.player_m {
	margin: 40px 20px 0 0;
}

.player__row {
	display: flex;
}

.player__img {
	align-self: start;
	@media screen and (max-width: 530px) {
		display: none;
	}
}

.settings-player {
	margin: 0 0 0 15px;
}

.settings-player__row {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.settings-player__body {
	display: flex;
}

.settings-player__icon {
	align-self: center;	
	cursor: pointer;
}

.settings-player__text-body {
	display: flex;	
	flex-direction: column;
	justify-content: center;
}

.settings-player__text-body_m {
	margin: 0 0 0 5px;		
}

.settings-player__text-body_n {
	@media screen and (max-width: 360px) {
		display: none;
	}
}

.settings-player__author {
	color: #9f9999;
	font-size: 14px;	
}

.settings-player__name {
	color: $colr-black;
	font-size: 16px;
}

.settings-player__time {
	color: #cccccc;
	font-size: 12px;	
}

.settings-player__teg {
	color: #fff;
	font-size: 11px;
	line-height: 20px;

	padding: 0 12px;
	margin: 5px 0 0 0;

	text-shadow: 0 2px 0 rgba(0,0,0, 0.8);

	border-radius: 4px;
	background: #999999;	
	cursor: pointer;
}

.settings-player__track {
	max-width: 100%;
	margin: 10px 0 20px 0;
}

.settings-player__settings {
	display: flex;	
	cursor: 	pointer;

	div {
		display: flex;	
		align-items: center;	

		color: #000;
		font-size: 11px;	
		line-height: 20px;

		padding: 0 15px 0 10px;
		margin: 0 5px 0 0;	

		border-radius: 4px;
		border: 1px solid #e5e5e5;
		background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(241,241,241,1) 64%);

		@media screen and (max-width: 600px) {
			font-size: 0;
			padding: 0 10px;
		}

		&:last-child {
			margin: 0;
		}

		img {
			margin: 0 5px 0 0;

			@media screen and (max-width: 600px) {
				margin: 0;
			}
		}
	}
}

.settings-player__info {
	display: flex;	
	color: #999999;
	font-size: 11px;

	@media screen and (max-width: 1080px) {
		display: none;
	}

	@media screen and (max-width: 1024px) {
		display: flex;	
	}

	@media screen and (max-width: 767px) {
		display: none;
	}	

	div {
		display: flex;	
		align-items: center;	

		height: 12px;	
		margin: 0 8px 0 0;

		border-left: 1px solid #cccccc;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			margin: 0;
		}

		img {
			margin: 0 5px 0 8px;
		
			&:first-child {
				margin: 0 5px 0 8px;
			}
		}
	}
}

.list-songs {
	display: flex;	
	justify-content: space-between;

	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}

.list-songs_m {
	margin: 0 0 100px 0;

	@media screen and (max-width: 767px) {
		margin: 0 0 50px 0;

		&:last-child {
			margin: 0;
		}
	}
}

.list-songs__column {
	color: $colr-black;
	font-size: 16px;	

	margin: 70px 0 0 0;

	@media screen and (max-width: 767px) {
		flex: 0 0 48%;
		margin: 50px 20px 0 0;
	}

	@media screen and (max-width: 520px) {
		margin: 50px 0 0 0;
		flex: 0 0 100%;
	}

	&:nth-child(2) {
		margin: 70px 0 0 0;
		@media screen and (max-width: 767px) {
			margin: 50px 0 0 0;
		}
	}

	&:last-child {
		margin: 70px 30px 0 0;

		@media screen and (max-width: 1024px) {
			margin: 70px 0 0 0;
		}

		@media screen and (max-width: 767px) {
			margin: 50px 0 0 0;
		}
	}

	li {
		margin: 5px 0 0 0;
		padding: 0 0 15px 0;
		border-bottom: 1px solid #ebebeb;

		&:first-child {
			margin: 0;
		}
	}
}





	/* Instagram */

.instagram {
	@media screen and (max-width: 1024px) {
		padding: 0 20px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 10px;
	}
}

.instagram__grid {
	display: grid;	
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;

	@media screen and (max-width: 400px) {
		grid-gap: 20px;
	}

	img {
		max-width: 100%;	
	}
}

.instagram__grid_m {
	margin: 40px 0 100px 0;

	@media screen and (max-width: 767px) {
		margin: 40px 0 50px;
	}
}





	/* Download */

.download {
	padding: 80px 20px 120px 20px;
	background: url("../images/download/bg.jpg") 50% 50% / cover no-repeat;

	@media screen and (max-width: 767px) {
		padding: 80px 10px 120px 10px;
	}

	@media screen and (max-width: 400px) {
		padding: 50px 10px 50px 10px;
	}
}

.download__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	color: #fff;
}

.download__title {
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 48px;
}

.download__text {
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 30px;

	margin: 0 0 35px 0;

	@media screen and (max-width: 600px) {
		margin: 15px 0 35px 0;
	}
}

.download__row {
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 400px) {
		flex-direction: column;
	}
}

.link-download {
	display: flex;
	align-items: center;
	text-align: left;

	padding: 12px 25px;

	border-radius: 5px;
	background: #050708;

	@media screen and (max-width: 400px) {
		width: 100%;
	}

	img {
		margin: 0 10px 0 0;
	}
}

.link-download_m {
	margin: 0 15px 0 0;

	@media screen and (max-width: 400px) {
		margin: 0 0 20px 0;
	}
}

.link-download__body {
	display: flex;
	flex-direction: column;

	color: #fff;
	font-family: 'MyriadPro-Semibold';
}

.link-download__text {
	font-size: 10px;
}

.link-download__title {
	font-size: 18px;
}





@import "big-link.scss";

@import "footer.scss";

@import "pages.scss";